.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1000;
font-family: 'Helvetica';
}


.cart-container.open {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-blue-color);
  border-bottom: 1px solid #ddd;
}

.cart-header h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

}

.cart-header button {
  position: absolute;
  align-items: center;
  background: none;
  border: none;
  left: 20px;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

.cart-items {
  flex-grow: 1;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 8px;
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item-info h3 {
  font-size: 18px;
  margin: 0;
}

.item-prices {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.cart-item-actions {
  margin-left: 1rem;
}

.cart-footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.cart-actions {
  text-align: center;
}


.cart-actions button {
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  width: 90%;
}

.cart-actions button:hover {
  background-color: var(--primary-blue-color-hover);
}

.action-btn.view-cart {
  background-color: var(--primary-blue-color);
  color: white;
}

.action-btn.checkout {
  background-color: var(--primary-blue-color);
  color: white;
}

.empty-cart-container {
  text-align: center;
  padding: 2rem;
}

.empty-cart-container p {
  margin: 1rem 0;
  color: #555;
}

.empty-cart-container .cart-bag {
  font-size: 5rem;
  color: #ccc;
}

.continue-shopping-btn {
  margin-top: 1rem;
  padding: 1rem 18px;
  background-color: var(--primary-blue-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}