.checkout-page-container {
    display: flex;
    max-width: 100%;
    padding: 40px 100px;
}

.checkout-contact {
    width: 50%;
}

.checkout-right {
    background-color: var(--off-white-btn-color);
    margin-left: 20px;
}

.form-container {
    margin: 10px 0;
}

.form-container h1 {
    margin: 20px 0;
    font-weight: 500;
}

.form-container input[type="text"], .custom-tip input {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
}

.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container input::placeholder, .custom-tip input::placeholder {
    font-size: 16px;
}

.form-container .name-div {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    margin: 15px 0;
}

.form-container .address-div {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

.form-container .billing-options .billing-option {
    border: 2px solid var(--off-white-btn-color);
    padding: 20px;
    margin: 8px 0;
    font-size: 19px;
    width: 50%;
}

/* Tip section */

.tip-section {
    width: 100%;
}

.tip-section h2 {
    margin: 10px 0;
}

.tip-section .tip-buttons {
    width: 100%;
}

.tip-section .tip-buttons  button {
    padding: 20px 30px;
    background-color: var(--white-text-color);
    border: 1px solid var(--gray-border-color);
    margin: 25px;
    cursor: pointer;
}

.tip-section p {
    margin-top: 10px;
}

/* Payment section */

.payment-section {
    width: 100%;
}

.payment-section h2 {
    margin: 20px 0;
}

.payment-section .payment-logos {
    display: flex;
    justify-content: space-between;
}

.payment-section .payment-logos .payment-logo-right img {
    margin: 0 20px;
}

.payment-section button {
    background-color: var(--purple-btn-color);
    border: none;
    border: 1px solid var(--gray-border-color);
    color: var(--white-text-color);
    padding: 10px 10px;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}