.home-container {
    padding: 20px 0;
    max-width: 100%;
}

.main-section {
    max-width: 1400px; /* Limit the maximum width for larger screens */
    margin: 0 auto;
    padding-bottom: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
    gap: 20px; /* Space between items */
    margin-top: 40px;
    padding: 0 20px; /* Add padding to prevent overflow */
}

.box {
    height: 350px;
    background-color: var(--border-color);
    overflow: hidden;
    border: 1px solid var(--nav-bg-color-dark);
}

.box:hover {
    box-shadow: 2px 2px 2px 2px var(--off-white-btn-color);
    border-radius: 8px;
}

.image-box {
    overflow: hidden;
    position: relative;
    height: 200px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-box:hover .product-image {
    transform: scale(1.4);
}

.product-info {
    padding: 10px;
}

.product-info p {
    margin-top: 5px;
}

.product-category-p {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--gray-border-color);
}

.category-link {
    text-decoration: none;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
}

/* Media Queries for Responsiveness */

/* For tablets and smaller desktops (e.g., 1200px and below) */
@media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(4, 1fr); /* 3 columns */
    }
}

/* For smaller tablets (e.g., 768px and below) */
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* For mobile devices (e.g., 480px and below) */
@media (max-width: 480px) {
    .products {
        grid-template-columns: 1fr; /* 1 column (stacked) */
    }
}