@import 'root.css';

.home-container {
    padding: 20px 0;
    max-width: 100%;
    /* background-color: red; */
}


.main-section {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* Products/Main */

.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.box {
    width: 300px;
    height: 350px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: var(--border-color);
    overflow: hidden;
    border: 1px solid var(--nav-bg-color-dark);
}

.box:hover {
    box-shadow: 2px 2px 2px 2px var(--off-white-btn-color);
    border-radius: 8px;
}

.box .image-box img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    justify-content: center;
    padding: 0 5px;
    transition: transform 0.2s ease-in-out;
}


.image-box {
    overflow: hidden;
    position: relative;
}

.product-image {
    transition: transform 0.3s ease;
}

.image-box:hover .product-image {
    transform: scale(1.4);
}

.product-info {
padding: 10px 10px;
}

.product-info p {
    margin-top: 5px;
}

.product-category-p {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--gray-border-color);
}

.category-link {
    text-decoration: none;

}



.old-price {
    text-decoration: line-through;
    font-size: 14px;
}










/* Media queries */
    @media (max-width: 1700px) {
        .box {
            width: 280px;
        }
    }

@media (max-width: 1400px) {
    .box {
        width: 250px;
        /* height: 230px; */
        /* margin-top: 50px; */
        /* margin-left: 60px; */
    }

    /* .box .image-box img {
        object-fit: cover;
        width: 100%;
        height: 120px;
        justify-content: center;
        transition: transform 0.2s ease-in-out;
    } */
    
}