@import './root.css';

.home-container {
    padding: 20px 0;
    max-width: 100%;
    color: var(--gray-text-color);
    font-weight: 400;
    font-family: 'Helvetica';
}

.main-section {
    max-width: 1400px; 
    margin: 0 auto;
    padding-bottom: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
    font-family: 'Helvetica Light';
}

.box {
    height: 360px;
    background-color: var(--border-color);
    overflow: hidden;
    border: 1px solid var(--nav-bg-color-dark);
}

.box:hover {
    box-shadow: 2px 2px 2px 2px var(--off-white-btn-color);
    border-radius: 8px;
}

.image-box {
    overflow: hidden;
    position: relative;
    height: 200px;
}

.sale-text {
    color: white;
    padding: 4px 10px;
    font-size: 14px;
    background-color: var(--purple-btn-color);
    border-radius: 10px;
    position: relative;
    top: 80%;
    left: 5%;
    z-index: 600;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-box:hover .product-image {
    transform: scale(1.1);
}

.product-info {
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px; */
}

.product-info p {
    margin-top: 5px;
}

.shoppingBag {
    color: black;
}

.product-info button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    /* color: S; */
    margin-top: auto;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.product-info button:hover {
    color: var(--primary-blue-color);
}


.add-to-cart-text {
    display: none; 
    font-size: 14px;
    background-color: var(--primary-text-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -30px; 
    left: 110%;
    transform: translateX(-40%);
    white-space: nowrap;
}

.product-info button:hover .add-to-cart-text {
    display: block;
}

.product-category-p {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--secondary-gray-text-color);
}

.category-link {
    text-decoration: none;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    color: var(--secondary-gray-text-color);
}

.price {
    font-size: 16px;
    font-weight: 600;

}



/* Media Queries */

@media (max-width: 1280px) {
    .products {
        grid-template-columns: repeat(4, 1fr); /* 3 columns */
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns:  repeat(2, 1fr);; 
    }
}