@import 'root.css';

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px;
    align-items: center;
    /* top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;*/
    width: 100%; 
    /* margin-bottom: 80px; */
}

.nav-container .nav-left {
    width: 80%;

}

.nav-container .nav-left ul {
    display: flex;
    align-items: center;

}

.nav-container .nav-left ul li {
    list-style: none;
    margin-right: 10rem;
    text-transform: uppercase;
}

.logo {
    font-weight: 700;
}

.nav-container .nav-left ul li .nav-link {
    text-decoration: none;
    color: var(--primary-text-color);

}

.nav-container .nav-right {
    display: flex;
    align-items: center;
}

.nav-container .nav-right .search {
   margin-right: 40px;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.search-input {
    padding: 12px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-gray-color);    
}

.search-container input::placeholder {
    color: var(--primary-text-color);
    font-size: 14px;
}


.nav-container .nav-left ul li .link-active {
    color: var(--primary-blue-color);
}