@import 'root.css';
@import '../css/fonts.css';

.nav-container {
    padding: 40px 40px;
    max-width: 100%;
    background-color: white; 
    position: sticky; 
    top: 0; 
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica'; 
}

.big-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-search {
    display: none;
}

.nav-left {
    width: 80%;
}

.nav-left ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left ul li {
    margin-right: 10rem;
    text-transform: uppercase;
}

.nav-left ul li .nav-link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav-left ul li .link-active {
    color: var(--primary-blue-color);
}

.nav-link {
    font-family: 'Helvetica';
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-container {
    position: relative;
    font-family: 'Helvetica';
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.search-input {
    padding: 18px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-gray-text-color);
    width: 200px;
    /* color: var(--grey-text-color); */
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: var(--primary-text-color);
    font-size: 14px;
}

.cart-icon {
    cursor: pointer;
    font-size: 28px;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    /* padding: 2px 6px; */
    font-size: 12px;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries */
@media (max-width: 1280px) {
    .nav-left ul li {
        margin-right: 5rem;
    }

    .search-input {
        width: 150px;
    }

    .business-name {
        font-size: 14px;
    }
    
}

@media (max-width: 768px) {
    .nav-container {
        padding: 20px;
    }

    .nav-left ul li {
        margin-right: 3rem;
    }

    .search-input {
        width: 120px;
    }

   
}

@media (max-width: 480px) {
    .big-nav {
        padding: 10px;
    }

    .nav-left ul li {
        margin-right: 1rem;
    }

    .search-input {
        width: 100px;
    }

 

    .cart-icon {
        font-size: 20px;
        margin-right: 10px;
    }

    .logo img {
        width: 50px;
    }

    .nav-link {
        font-size: 14px;
    }

    .shop-text {
    display: none;
}
    .search {
        display: none;
    }

    .small-search {
        display: block;
        margin-top: 20px;
    }

    .search-container1 {
        position: relative;
    }
    
    .search-icon1 {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
    }
    
    .search-input1 {
        padding: 14px 10px;
        border: .1px solid var(--gray-border-color);
        border-radius: 10px;
        background-color: var(--primary-gray-text-color);
        width: 90%;
    }
    
    .search-input1:focus {
        outline: none;
    }
    
    .search-input1::placeholder {
        color: var(--primary-text-color);
        font-size: 14px;
    }
}