:root {
    --primary-text-color: #000000;
    --white-text-color: #ffffff;
    --grey-text-color: #555556;
    --primary-gray-text-color: #E8EAEB;
    --secondary-gray-text-color: #8E8F8F;

    --primary-blue-color: #1877F2;
    --primary-blue-color-hover: #0e5ec5;

    /* Border colors */
    --gray-border-color: #808080;
    --off-white-border-color:#ced1d1;
    --ash-border-color: #B0B2B2;


    /* Button colors */
    --brown-btn-color: #5F3905;
    --coffee-btn-color: #352003;
    --black-btn-color: #000000;
    --off-white-btn-color: #EDEBE9;
    --purple-btn-color: #5153E7;
    --success-color: #1FAF38;
}